.database-connection-modal {
  &__database {
    @apply ml-[-12px] mt-8px;
  }

  &__radio {
    @apply flex items-center;
  }

  &__fields {
    @apply my-8px;
    @apply flex flex-col gap-8px;
    @apply w-full;
  }

  &__port {
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }

    /* Firefox */
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  &__buttons {
    @apply mt-16px;
    @apply flex justify-between;
  }
}
