.methods {
  @apply min-w-600px max-w-700px;
  @apply rounded-16px shadow-evaluation-2;
  @apply bg-surface+3;
  @apply px-16px py-12px mb-8px;
  @apply h-[calc(100vh_-_120px)] box-border;
  @apply overflow-y-scroll;
  @apply sticky top-80px;
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__container {
    @apply min-h-[calc(100%_-_56px)] box-border;
  }

  &-title {
    @apply text-center;
  }

  &__list {
    @apply my-8px;

    &-title {
      @apply pb-8px;
    }

    &-content {
      @apply flex flex-col gap-4px;
    }
  }

  &__tab-content {
    @apply mt-16px;
  }

  &__button {
    @apply py-10px;
    @apply sticky bottom-0 left-0 right-0 z-10;
  }
}

.method {
  &__row {
    @apply flex items-center gap-8px;
  }

  &__approved {
    @apply flex items-center;
  }

  &__help-icon {
    @apply w-18px h-18px #{!important};
  }

  &__full-width {
    @apply w-100%;
  }
}